<h1>enter time here</h1>

<form action="/add_entry" method="POST">
  category:<%= select  %> 
  <br/>
  note: <input type="text" name="name">
  <br/>
  date: <input type="text" name="date">
  <br/>
  <input type="submit">
  <br/>
</form>
current activity: <%= current %>
