<html>
<head>
    <title>Time Tracker</title>
    </head>
    <body>
    <table border=1><tr><td>
<p><a href=/add_entry>add entry</a>  </p>
<p><a href=/categories>categories</a>  </p>
<p><a href=/report>report</a>  </p>
</td>
<td>
    <%= yield %>
    </td>
  </tr>
</table>
    </body>
    </html>
